/* wrapper */

.wrapper{
position:absolute;
bottom:90px;
left:0;
width:100%;
display:flex;
justify-content:center;
z-index:20;
}

/* container */

.modes{
display:flex;
gap:20px;
padding:8px 16px;
background:rgba(0,0,0,0.25);
backdrop-filter:blur(10px);
border-radius:30px;
}

/* button */

.mode{

background:transparent;
border:none;

color:#d9d9d9;

font-size:14px;
font-weight:500;

cursor:pointer;

transition:all .25s ease;

padding:4px 2px;

}

/* hover */

.mode:hover{

color:#ffffff;

}

/* active mode */

.active{

color:#ffffff;
font-weight:600;

position:relative;

}

/* underline indicator */

.active::after{

content:"";

position:absolute;

bottom:-6px;
left:50%;

transform:translateX(-50%);

width:14px;
height:4px;

border-radius:10px;

background:#d4af37;

}
